// ? main

$main-color: #323264;
$main-alt-color: #46466e;
$main-soft-color: #686887;

// ? accept

$Accept: #f0145a;

// ? active

$active-regular: #24a3ff;
$active-hover: #0085ff;
$active-regular: #006ccf;
// ? Grey

$Grey-bg: #f5f5fa;
$Grey-bg-alt: #ededf7;
$Grey-text: #b3b3ba;
$Grey-separator: #e6e6f0;

// ? Gradient

$Gradient: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #a54b5f 100%);
$Gradient-soft: linear-gradient(
  42.01deg,
  #323264 14.33%,
  #323264 51.39%,
  #7a425e 87.53%
);
$Gradient-red: linear-gradient(323.35deg, #f0145a 6.7%, #693264 70.36%);
$Gradient-supersoft: linear-gradient(
  228.57deg,
  #323264 11.93%,
  #323264 57.17%,
  #643e72 87.46%
);
$Gradient-red-text: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
